# HW3 - Q1 [15 pts]



## Important Notices

<div class="alert alert-block alert-danger">
    WARNING: Do <strong>NOT</strong> add any cells to this Jupyter Notebook, because that will crash the autograder.
</div>


All instructions, code comments, etc. in this notebook **are part of the assignment instructions**. That is, if there is instructions about completing a task in this notebook, that task is not optional.  



<div class="alert alert-block alert-info">
    You <strong>must</strong> implement the following functions in this notebook to receive credit.
</div>


`user()`

`clean_data()`

`common_pair()`

`time_of_cheapest_fare()`

`passenger_count_for_most_tip()`

`day_with_traffic()`



Each method will be auto-graded using different sets of parameters or data, to ensure that values are not hard-coded. You may assume we will only use your code to work with data from the NYC-TLC dataset during auto-grading. 

### Helper functions

You are permitted to write additional helper functions, or use additional instance variables so long as the previously described functions work as required.

<div class="alert alert-block alert-danger">
    WARNING: Do <strong>NOT</strong> remove or modify the following utility functions:
</div>

`load_data()`

#### Pyspark Imports
<span style="color:red">*Please don't modify the below cell*</span>

In [1]:
import pyspark
from pyspark.sql import SQLContext
from pyspark.sql.functions import hour, when, col, date_format, to_timestamp
from pyspark.sql.functions import *

#### Define Spark Context
<span style="color:red">*Please don't modify the below cell*</span>

In [2]:
sc = pyspark.SparkContext(appName="HW3-Q1")
sqlContext = SQLContext(sc)

#### Function to load data

<span style="color:red">*Please don't modify the below cell*</span>

In [3]:
def load_data():
    df = sqlContext.read.option("header",True).csv("yellow_tripdata_2019-01_short.csv")
    return df

In [4]:
df = load_data()
df.printSchema()

root
 |-- VendorID: string (nullable = true)
 |-- tpep_pickup_datetime: string (nullable = true)
 |-- tpep_dropoff_datetime: string (nullable = true)
 |-- passenger_count: string (nullable = true)
 |-- trip_distance: string (nullable = true)
 |-- RatecodeID: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: string (nullable = true)
 |-- DOLocationID: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- extra: string (nullable = true)
 |-- mta_tax: string (nullable = true)
 |-- tip_amount: string (nullable = true)
 |-- tolls_amount: string (nullable = true)
 |-- improvement_surcharge: string (nullable = true)
 |-- total_amount: string (nullable = true)
 |-- congestion_surcharge: string (nullable = true)

# Implement the functions below for this assignment:

## 1. Update the `user()` function
This function should return your GT username, eg: gburdell3

In [5]:
def user():
    """
    :return: string
    your GTUsername, NOT your 9-Digit GTId  
    """  
    return 'gburdell3'

## 1a. [1 pts] Casting the columns into correct types

To process the data accurately, cast the following columns into given data type: 

- `passenger_count` - integer 
- `total_amount` - float 
- `tip_amount` - float
- `trip_distance` - float 
- `fare_amount` - float 
- `tpep_pickup_datetime` - timestamp 
- `tpep_dropoff_datetime` - timestamp 

All of the columns in the original data should be returned with the above columns converted to the correct data type.

In [6]:
def clean_data(df):
    '''
    input: df a dataframe
    output: df a dataframe with the all the original columns
    '''
    
    # START YOUR CODE HERE ---------
    df = df.withColumn('passenger_count',df['passenger_count'].cast('int'))
    df = df.withColumn('total_amount',df['total_amount'].cast('float'))
    df = df.withColumn('tip_amount',df['tip_amount'].cast('float'))
    df = df.withColumn('trip_distance',df['trip_distance'].cast('float'))
    df = df.withColumn('fare_amount',df['fare_amount'].cast('float'))
    df = df.withColumn('tpep_pickup_datetime',df['tpep_pickup_datetime'].cast('timestamp'))
    df = df.withColumn('tpep_dropoff_datetime',df['tpep_dropoff_datetime'].cast('timestamp'))


    # END YOUR CODE HERE -----------
    return df

In [7]:
df = clean_data(df)
df.select(['passenger_count', 'total_amount', 'tip_amount', 'trip_distance', 'fare_amount', 'tpep_pickup_datetime', 'tpep_pickup_datetime']).printSchema()

root
 |-- passenger_count: integer (nullable = true)
 |-- total_amount: float (nullable = true)
 |-- tip_amount: float (nullable = true)
 |-- trip_distance: float (nullable = true)
 |-- fare_amount: float (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)

## 1b. [4 pts] What are the top 10 pickup-dropoff locations?

Find the top 10 pickup-dropoff location pairs having the most number of trips (`count`). The location pairs should be ordered by `count` in descending order. If two or more pairs have the same number of trips, break the tie using the trip amount per distance travelled (`trip_rate`). Use columns `total_amount` and `trip_distance` to calculate the trip amount per distance. In certain situations, the pickup and dropoff locations may be the same.

Example output showing expected formatting:

```
+------------+------------+-----+------------------+
|PULocationID|DOLocationID|count|         trip_rate|
+------------+------------+-----+------------------+
|           5|           7|   24| 5.148195749283391|
|           6|           4|   19| 1.420958193039484|
|           3|           2|   15|9.1928382713049282|
|           8|           8|   14|5.1029384838178493|
|           1|           3|    9|7.4403919838271223|
|           9|           2|    9|4.4039182884283829|
|           5|           7|    6|  5.19283827172823|
|           2|           1|    5| 9.233738511638532|
|           1|           9|    3| 8.293827128489212|
|           6|           6|    1| 4.192847382919223|
+------------+------------+-----+------------------+
```

In [8]:
def common_pair(df):
    '''
    input: df a dataframe
    output: df a dataframe with following columns:
            - PULocationID
            - DOLocationID
            - count
            - trip_rate
            
    trip_rate is the average amount (total_amount) per distance (trip_distance)
    
    '''
    
    # START YOUR CODE HERE ---------
    
    temp = df.select("PULocationID", "DOLocationID", "total_amount", "trip_distance")
    temp = temp.withColumn("trip_rate", temp.total_amount/temp.trip_distance)
    temp = temp.na.fill(0)
    
    temp1 = temp.select("PULocationID", "DOLocationID", "trip_rate")
    
    
    temp1 = temp1.groupBy("PULocationID", "DOLocationID", "trip_rate").agg(count("*").alias("count"))
    temp1 = temp1.orderBy(["count", "trip_rate"], ascending=False) 
#     temp1.show(5)
    temp1 = temp1.select("PULocationID", "DOLocationID", "count", "trip_rate")
    return temp1

In [9]:
common_pair(df).show(5)

+------------+------------+-----+------------------+
|PULocationID|DOLocationID|count|         trip_rate|
+------------+------------+-----+------------------+
|         234|         234|    5|               0.0|
|         193|         193|    4|               0.0|
|         239|         151|    3|6.1818182212262105|
|          48|          48|    3|               0.0|
|         161|         161|    3|               0.0|
+------------+------------+-----+------------------+
only showing top 5 rows

## 1c. [4 pts] When is the trip cheapest (day vs night) ?

Divide each day into two parts: Day (from 9am to 8:59:59pm), and Night (from 9pm to 8:59:59am) and find the average total amount per unit distance travelled (use column `total_amount`) for both time periods. Sort the result by `trip_rate` in ascending order to find when the fare rate is cheapest.

Example output showing expected formatting:
```
+---------+-----------------+
|day_night|        trip_rate|
+---------+-----------------+
|      Day|2.391827482920123|
|    Night|4.292818223839121|
+---------+-----------------+
```

In [10]:
def time_of_cheapest_fare(df):
    '''
    input: df a dataframe
    output: df a dataframe with following columns:
            - day_night
            - trip_rate
    
    day_night will have 'Day' or 'Night' based on following conditions:
        - From 9am to 8:59:59pm - Day
        - From 9pm to 8:59:59am - Night
            
    trip_rate is the average amount (total_amount) per distance
    
    '''
    df = df.withColumn('hour',hour(df.tpep_pickup_datetime))
    df = df.withColumn('minute',minute(df.tpep_pickup_datetime))
    df = df.withColumn('second',second(df.tpep_pickup_datetime))
    df = df.withColumn("trip_rate", df.total_amount/df.trip_distance)
    df = df.withColumn("day_night", when((col("hour").cast("int") >= 9) & (col("hour").cast("int") < 21), "Day").otherwise("Night"))
    df = df.groupBy("day_night")
    df = df.agg({"trip_rate":"avg"}).withColumnRenamed("avg(trip_rate)", "trip_rate")
    df = df.orderBy("trip_rate")
    # START YOUR CODE HERE ---------
    #df.show(5)
    
    
    # END YOUR CODE HERE -----------
    
    return df

In [11]:
time_of_cheapest_fare(df).show()

+---------+-----------------+
|day_night|        trip_rate|
+---------+-----------------+
|      Day|7.873021053350024|
|    Night|8.144064591386332|
+---------+-----------------+

## 1d. [3 pts] Which passenger group size gives the most tips?

Filter the data for trips having fares (`fare_amount`) greater than $2 and the number of passengers (`passenger_count`) greater than 0. Find the average fare and tip (`tip_amount`) for all passenger group sizes and calculate the tip percent (`tip_amount * 100 / fare_amount`). Sort by the tip percent in descending order to get which group size tips most generously.

Example output showing expected formatting:
```
+---------------+------------------+
|passenger_count|       tip_percent|
+---------------+------------------+
|              4|20.129473829283771|
|              2|16.203913838738283|
|              3|14.283814930283822|
|              1|13.393817383918287|
|              6| 12.73928273747182|
|              5|12.402938192848471|
+---------------+------------------+
```

In [12]:
def passenger_count_for_most_tip(df):
    '''
    input: df a dataframe
    output: df a dataframe with following columns:
            - passenger_count
            - tip_percent
            
    trip_percent is the percent of tip out of fare_amount
    
    '''
    
    # START YOUR CODE HERE ---------
    df_filtered = df.filter(df.fare_amount>2)
    df_filtered = df_filtered.filter(df.passenger_count>0)
    df_filtered = df_filtered.groupBy("passenger_count")
    df_filtered = df_filtered.agg(avg("fare_amount").alias("fare_amount"), avg("tip_amount").alias("tip_amount"))
    df_filtered = df_filtered.withColumn("tip_percent", (df_filtered.tip_amount*100)/df_filtered.fare_amount)
    df_filtered = df_filtered.select("passenger_count", "tip_percent").orderBy("tip_percent", ascending=False)
    #df_filtered.show(5)
    # END YOUR CODE HERE -----------
    
    return df_filtered

In [13]:
passenger_count_for_most_tip(df).show()

+---------------+------------------+
|passenger_count|       tip_percent|
+---------------+------------------+
|              2|14.406226490643459|
|              5|14.347176091134632|
|              1|13.816545488299298|
|              4|13.232489331848662|
|              3| 13.11005447222511|
|              6|13.096846913969197|
+---------------+------------------+

## 1e. [3 pts] Which day of week has the most traffic?

Sort the days of the week based on traffic, with the day having the highest traffic on the top. You can estimate traffic on the day of the week based on the average speed of all taxi trips on that day of the week. (Speed can be calculated by using the trip time and trip distance. Make sure to print speed in distance / hour). If the `average_speed` is the same for two or more days, the days should be ordered alphabetically. A day with a low average speed indicates high levels of traffic. The average speed may be 0 indicating very high levels of traffic. Not all days of the week may be present. You should use `date_format` along with the appropriate [pattern letters](https://spark.apache.org/docs/latest/sql-ref-datetime-pattern.html) to format the day of the week.

Example output showing expected formatting:
```
+-----------+------------------+
|day_of_week|     average_speed|
+-----------+------------------+
|        Sat|               0.0|
|        Tue|               0.0|
|        Fri|7.2938133827293934|
|        Mon|10.123938472718228|
+-----------+------------------+
```

In [14]:
def day_with_traffic(df):
    '''
    input: df a dataframe
    output: df a dataframe with following columns:
            - day_of_week
            - average_speed
    
    day_of_week should be day of week e.g.) Mon, Tue, Wed, ...
    average_speed (miles/hour) is calculated as distance / time (in hours)
    
    '''
    
    # START YOUR CODE HERE ---------
    
    df_with_day = df.withColumn("day_of_week", date_format(col("tpep_pickup_datetime"), "E"))
    df_with_day = df_with_day.withColumn("trip_time", (col("tpep_dropoff_datetime").cast("long") - col("tpep_pickup_datetime").cast("long"))/60)
    df_with_day = df_with_day.withColumn("speed", (col("trip_distance") / col("trip_time")))
    # END YOUR CODE HERE -----------
    df_with_day = df_with_day.select("day_of_week", "speed")
    df_with_day = df_with_day.groupBy("day_of_week").agg(avg("speed").alias("average_speed"))
    df_with_day = df_with_day.sort(col("average_speed").desc(), col("day_of_week").asc())

    return df_with_day

In [15]:
day_with_traffic(df).show(5)

+-----------+-------------------+
|day_of_week|      average_speed|
+-----------+-------------------+
|        Tue| 0.2028057448795266|
|        Mon|0.19646847314663465|
|        Fri|                0.0|
|        Wed|                0.0|
+-----------+-------------------+

# HW3 - Q3 [35 pts]

## Important Notices

<div class="alert alert-block alert-danger">
    WARNING: Do <strong>NOT</strong> add any cells to this Jupyter Notebook, because that will crash the autograder.
</div>

<div class="alert alert-block alert-danger">
    WARNING: Do <strong>NOT</strong> implement any additional libraries into this workbook.
</div>

All instructions, code comments, etc. in this notebook **are part of the assignment instructions**. That is, if there is instructions about completing a task in this notebook, that task is not optional.  

<div class="alert alert-block alert-info">
    You <strong>must</strong> implement the following functions in this notebook to receive credit.
</div>

`user()`

`bucket()`

`long_trips()`

`manhattan_trips()`

`weighted_profit()`

`final_output()`

Each method will be auto-graded using different sets of parameters or data, to ensure that values are not hard-coded.  You may assume we will only use your code to work with data from the NYC-TLC dataset during auto-grading.

<div class="alert alert-block alert-danger">
    WARNING: Do <strong>NOT</strong> remove or modify the following utility functions:
</div>

`load_data()`

`main()`

<div class="alert alert-block alert-info">
    Do <strong>not</strong> change the below cell. Run it to initialize your PySpark instance. If you don't get any output, make sure your Notebook's Kernel is set to "PySpark" in the top right corner.
</div>

In [16]:
sc

<div class="alert alert-block alert-danger">
    WARNING: Do <strong>NOT</strong> remodify the below cell. It contains the function for loading data and all imports, and the function for running your code.
</div>

In [38]:
#### DO NOT CHANGE ANYTHING IN THIS CELL ####

from pyspark.sql.functions import col
from pyspark.sql import *
from pyspark.sql import functions as F

def load_data(size='small'):
    # Loads the data for this question. Do not change this function.
    # This function should only be called with the parameter 'small' or 'large'
    
    if size != 'small' and size != 'large':
        print("Invalid size parameter provided. Use only 'small' or 'large'.")
        return
    
    input_bucket = "s3://cse6242-spring2021"
    
    # Load Trip Data
    trip_path = '/'+size+'/yellow_tripdata*'
    trips = sqlContext.read.option("header",True).csv("yellow_tripdata_2019-01_short.csv")
    print("Trip Count: ",trips.count()) # Prints # of trips (# of records, as each record is one trip)
    
    # Load Lookup Data
    lookup_path = '/'+size+'/taxi*'
    lookup = sqlContext.read.option("header",True).csv("taxi_zone_lookup.csv")
    
    return trips, lookup

def main(size, bucket):
    # Runs your functions implemented above.
    
    print(user())
    trips, lookup = load_data(size=size)
    trips = long_trips(trips)
    trips = trips.withColumn('passenger_count',trips['passenger_count'].cast('int'))
    trips = trips.withColumn('total_amount',trips['total_amount'].cast('float'))
    trips = trips.withColumn('tip_amount',trips['tip_amount'].cast('float'))
    trips = trips.withColumn('trip_distance',trips['trip_distance'].cast('float'))
    trips = trips.withColumn('fare_amount',trips['fare_amount'].cast('float'))
    trips = trips.withColumn('tpep_pickup_datetime',trips['tpep_pickup_datetime'].cast('timestamp'))
    trips = trips.withColumn('tpep_dropoff_datetime',trips['tpep_dropoff_datetime'].cast('timestamp'))
    mtrips = manhattan_trips(trips, lookup)
    wp = weighted_profit(trips, mtrips)
    print("flag-----:")
    lookup.show(5)
    final = final_output(wp,lookup)
    
    # Outputs the results for you to visually see
    final.show()
    
    # Writes out as a CSV to your bucket.
    #final.write.csv(bucket)

# Implement the below functions for this assignment:
<div class="alert alert-block alert-danger">
    WARNING: Do <strong>NOT</strong> change any function inputs or outputs, and ensure that the dataframes your code returns align with the schema definitions commented in each function
</div>

## 3a. [1 pt] Update the `user()` function
This function should return your GT username, eg: gburdell3

In [39]:
def user():
    # Returns a string consisting of your GT username.
    return 'zpatwary3'

## 3b. [2 pts] Update the `long_trips()` function
This function filters trips to keep only trips greater than or equal to 2 miles.

In [40]:
def long_trips(trips):
    # Returns a Dataframe with Schema the same as :trips:
    trips = trips.filter(trips.trip_distance >=2)
    return trips

## 3c. [6 pts] Update the `manhattan_trips()` function

This function determines the top 20 locations with a `DOLocationID` in manhattan by passenger_count (pcount).

Example output formatting:

```
+--------------+--------+
| DOLocationID | pcount |
+--------------+--------+
|             5|      15|
|            16|      12| 
+--------------+--------+
```

In [41]:
def manhattan_trips(trips, lookup):
    # Returns a Dataframe with Schema: DOLocationID, pcount
    man_lookup = lookup.filter(lookup.Borough=="Manhattan")
    man_lookup_list = [row[0] for row in lookup.select('LocationId').collect()]
    
    man_trips = trips.where(col("DOLocationID").isin(man_lookup_list))
    man_trips = man_trips.select("DOLocationID", "passenger_count")      
    man_trips = man_trips.groupBy("DOLocationID")
    man_trips = man_trips.agg({'passenger_count':'sum'}).orderBy(col("sum(passenger_count)").desc()).withColumnRenamed("sum(passenger_count)", "pcount")
    #man_trips.show(20)
    return man_trips

## 3d. [6 pts] Update the `weighted_profit()` function
This function should determine the average `total_amount`, the total count of trips, and the total count of trips ending in the top 20 destinations and return the `weighted_profit` as discussed in the homework document.

Example output formatting:
```
+--------------+-------------------+
| PULocationID |  weighted_profit  |
+--------------+-------------------+
|            18| 33.784444421924436| 
|            12| 21.124577637149223| 
+--------------+-------------------+
```

In [42]:
def weighted_profit(trips, mtrips): 
    # Returns a Dataframe with Schema: PULocationID, weighted_profit
    # Note: Use decimal datatype for weighted profit (NOTE: DON'T USE FLOAT)
    # Our grader will be only be checking the first 8 characters for each value in the dataframe
    
    #trips.printSchema()
    #mtrips.printSchema()
    #avg_total_amount = trips.agg({'total_amount':'avg'}).withColumnRenamed("avg(total_amount)", "avg_total_amount")
    #avg_total_amount = trips.groupBy("PULocationID").agg(F.mean('total_amount')).show(5)   #.withColumnRenamed("avg(total_amount)", "avg_total_amount")
    avg_total_amount = trips.groupBy("PULocationID").avg( "total_amount").withColumnRenamed("avg(total_amount)", "avg_total_amount")
    #avg_total_amount.show(5)
    
    #    total count of trips from a PULocationID
    trip_count_puloc = trips.groupBy("PULocationID").count().withColumnRenamed("count", "count_trips")
    #trip_count_puloc.show(10)
    
    #   total count of trips ending in the top 20 destinations
    top20_doloc = mtrips.limit(20)
    #print(top20_trips.count())
    top20_doloc_list = [row[0] for row in top20_doloc.select('DOLocationId').collect()]
    top20_trips = trips.where(col("DOLocationID").isin(top20_doloc_list))
    #top20_trips.show()
    trip_count_puloc_top20 = top20_trips.groupBy("PULocationID").count().withColumnRenamed("count", "count_top20")
    #trip_count_puloc_top20.show(10)
    
    # Calculate proportion
    # df004 = df003.as('a).join(trip_count_puloc_top20.as('b), $"a.PULocationID" === $"b.PULocationID","left").select(trip_count_puloc("Borough"), df003("number_activities").alias("total_number_activities")).na.fill(0)
    df_prop = trip_count_puloc.join(trip_count_puloc_top20, "PULocationID") \
            .withColumn("proportion", (col("count_top20") / col("count_trips"))) \
            .drop("count_trips", "count_top20")
    #df_prop.show(5)
       
    # Calculate weighted_profit
    weighted_profit = df_prop.join(avg_total_amount, "PULocationID") \
            .withColumn("weighted_profit", (col("avg_total_amount") * col("proportion"))) \
            .drop("avg_total_amount", "proportion")
    weighted_profit.show(5)
    return weighted_profit

## 3e. [5 pts] Update the `final_output()` function
This function will take the results of `weighted_profit`, links it to the `borough` and `zone` and returns the top 20 locations with the highest `weighted_profit`.

Example output formatting:
```
+------------+---------+-------------------+
|    Zone    | Borough |  weighted_profit  |
+----------------------+-------------------+
| JFK Airport|   Queens|  16.95897820117925|
|     Jamaica|   Queens| 14.879835188762488|
+------------+---------+-------------------+
```

In [73]:
def final_output(wp, lookup): 
    # Returns a Dataframe with Schema: Zone, Borough, weighted_profit
    # Note: Use decimal datatype for weighted profit (NOTE: DON'T USE FLOAT)
    # Our grader will be only be checking the first 8 characters for each value in the dataframe
    
    #df_final = wp.join(lookup, wp.PULocationID == lookup.LocationID,"left").select(lookup("Zone"), wp("weighted_profit")).na.fill(0) 
            #.drop("avg_total_amount", "proportion")
    
    #lookup.show()
    #print(lookup)
    #df_final = wp.withColumn("id", col("PULocationID")).join(lookup.withColumn("id", col("LocationID")), on="id").select("lookup.Zone", "lookup.Borough", "wp.weighted_profit")
    #df_final.show(5)
    #return df_final
    #print("WP")
    #wp.show(5)
    print("LOOKUP")
    #lookup.show(5)
        
    #print(lookup)
    #df_final = wp.withColumn("id", col("PULocationID")).join(lookup.withColumn("id", col("LocationID")), on="id").select("lookup.Zone", "lookup.Borough", "wp.weighted_profit")
    #df_final.show(5)
    #return df_final
    wp = wp.join(lookup, wp.PULocationID == lookup.LocationID, 'inner')
    wp = wp.select("Zone","Borough","weighted_profit")
    wp = wp.orderBy(col("weighted_profit").desc())
    wp.show(5)
    return wp

<div class="alert alert-block alert-info">
    Test your code on the small dataset first, as the large dataset will take a significantly longer time to run
</div>

<div class="alert alert-block alert-danger">
    WARNING: Do <strong>NOT</strong> use the same bucket url for multiple runs of the `main()` function, as this will cause errors. Make sure to change the name of your output location every time. (ie: s3://cse6242-gburdell3/output-small2)
</div>

Update the below cell with the path to your bucket, then run the below cell to run your code to store the results in S3.

When you have confirmed the results of the small dataset, run it again using the large dataset. Your output file will appear in a folder in your s3 bucket called YOUROUTPUT.csv as a csv file with a name something like part-0000-4d992f7a-0ad3-48f8-8c72-0022984e4b50-c000.csv. Download this file and rename it to q3_output.csv for submission. Do not make any other changes to the file.

In [74]:
# update your bucket path
bucket = 's3://cse6242-zpatwary3/output-small'
main('small', bucket)

# bucket = 's3://cse6242-zpatwary3/output-large'
# main('large', bucket)

zpatwary3
Trip Count:  6499
+------------+------------------+
|PULocationID|   weighted_profit|
+------------+------------------+
|         125|6.6415624767541885|
|           7| 6.158333248562283|
|         234| 9.323130079537384|
|         232| 10.42407406700982|
|         132| 6.583787873555762|
+------------+------------------+
only showing top 5 rows

flag-----:
+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 5 rows

LOOKUP
+--------------------+--------+------------------+
|                Zone| Borough|   weighted_profit|
+--------------------+--------+------------------+
|         Kew Gardens|  Queens|48.560001373291016|
|     Carroll Gardens|Brooklyn|  36.1299991607666|
|Van Cortlandt Vil...|   Bronx|25.299999237060547|
|Long Island City/...|  Queens|  21.9022216796875|
|                  NV| Unknown|18.742718021945738|
+--------------------+--------+------------------+
only showing top 5 rows

+--------------------+---------+------------------+
|                Zone|  Borough|   weighted_profit|
+--------------------+---------+------------------+
|         Kew Gardens|   Queens|48.560001373291016|
|     Carroll Gardens| Brooklyn|  36.1299991607666|
|Van Cortlandt Vil...|    Bronx|25.299999237060547|
|Long Island City/...|   Queens|  21.9022216796875|
|                  NV|  Unknown|18.742718021945738|
| Crown Heights North| Brooklyn|17.739999771118164|
|            Woodside|   Queens|16.714999675750732|
|         Cobble Hill| Brooklyn| 14.31749963760376|
|Times Sq/Theatre ...|Manhattan|13.587200164794922|
|    Garment District|Manhattan| 13.44120002746582|
|Meatpacking/West ...|Manhattan|13.178639397869846|
|   Battery Park City|Manhattan|12.934293411445092|
| UN/Turtle Bay South|Manhattan|12.309413945967847|
|   LaGuardia Airport|   Queens|12.242854455468336|
|Greenwich Village...|Manhattan| 11.91772287816902|
|            Flatiron|Manhattan|11.358478245527849|
| Morningside Heights|Manhattan|10.810943920898437|
|        West Village|Manhattan|10.806219414966863|
|     Lower East Side|Manhattan|10.481865368880234|
|         Murray Hill|Manhattan|10.479968989683577|
+--------------------+---------+------------------+
only showing top 20 rows

#### Testing

<div class="alert alert-block alert-info">
    You may use the below cell for any additional testing you need to do, however any code implemented below will not be run or used when grading
</div>